In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("../lite_data/india_July_21.csv", header=0)
data.head()

,Unnamed: 0,domain,id,id_str,party,screen_name,state
0,0,1.0,784325894559059968,784325894559059968,To Be Added,Sanjay_Meshack,To Be Added
1,1,1.0,741171197342187521,741171197342187520,BJP,BJP4AnN,Andaman and Nicobar Islands
2,2,1.0,1283244990274002949,1283244990274002944,INC,NSubramanian1,To Be Added
3,3,1.0,935363557050298368,935363557050298368,INC,SatishYepuri,Andhra Pradesh
4,4,1.0,112384119,112384119,BJP,praveenkubjp,Bihar

In [3]:
data.party.unique()

array(['To Be Added', 'BJP', 'INC', 'NCP', 'CPIM', 'AIMIM', 'MNS', 'AAP',
       'RPI', 'CPI', 'BSP', 'DMK', 'CPIML', 'GOV', 'LJP', 'HAM',
       'SHIV SENA', 'SP', 'AIADMK', 'YKD', nan, 'PRJA', 'NEIDP', 'NPP',
       'AITC', 'NDPP', 'NPF', 'BJD', 'LSP', 'RLD', 'YSRCP', 'TDP', 'VHP',
       'TRS', 'IND', 'JAPL', 'TJS', 'JDU', 'SAD', 'PEP', 'LIP', 'LDP',
       'RJD', 'PDF', 'LJD', 'PPI', 'RLSP', 'SWI', 'NUZP', 'RLP', 'SDPI',
       'HSP', 'SDF', 'SKM', 'AISMK', 'AMMK', 'DMDK', 'IJK', 'TMC', 'MMK',
       'MNM', 'PMK', 'PTP', 'VCK', 'IPFT', 'RSS', 'SPI', 'YDF', 'AD',
       'AIPF', 'ASP', 'BPP', 'BSCP', 'JSVP', 'LD', 'LOKSP', 'RJP', 'SBP',
       'SBSP', 'SHP', 'GJM', 'LEFT', 'JCC', 'JDS', 'TAMIL NADU', 'NOM',
       'AGP', 'AIUDF', 'INLD', 'IUML', 'JJP', 'JKNC', 'JKPDP', 'JMM',
       'GFP', 'JVP', 'AIP', 'JKNPP', 'JKPC', 'JKPM', 'AJSU', 'AKNJPSV',
       'PFI', 'AIFB', 'KC', 'AP', 'BJSP', 'RSAMAJP', 'ABVP', 'OTHER',
       'SAMAJWADI ', 'SWARAJ', 'HMK', 'KSP', 'SFI', 'SAMAJWADI',
       'INDEPENDENT', 'JSP', 'DYFI', 'AAMSU', 'NTK', 'JKAP', 'AMMKK',
       'LDF', 'DFYI', 'JP', 'RSP', 'BVA', 'BJDS', 'JKYNC', 'KDMK', 'ADMK',
       'MNF', 'PT', 'NDA', 'JVM(P)', 'KERALA CONGRESS(M)'], dtype=object)

In [7]:
data.groupby('party').size().reset_index().sort_values(by=0).tail(50)

           party      0
58          JKPM      6
116         SDPI      6
44   INDEPENDENT      7
78           LSP      7
5            AGP      7
117          SFI      9
111    SAMAJWADI      9
52           JJP      9
85          NDPP     10
105         RLSP     11
14          AJSU     12
89           NPP     13
103          RLD     13
35           GFP     14
96           PMK     14
43           IND     16
132          VHP     19
30         CPIML     21
76           LJP     30
82           MNS     32
50           JDS     34
60           JMM     36
124          SWI     36
57         JKPDP     38
26           BSP     44
110          SAD     46
109          RSS     58
54          JKNC     72
8          AIMIM     72
51           JDU     85
101          RJD     86
12          AITC     86
29          CPIM    154
135        YSRCP    156
16          AMMK    161
126          TDP    164
92         OTHER    170
118    SHIV SENA    187
20           BJD    211
129          TRS    213
83           NCP    217
2           ABVP    219
37           GOV    295
121           SP    318
6         AIADMK    479
1            AAP    668
33           DMK    898
130  To Be Added   5774
22           BJP  10773
42           INC  10875

In [4]:
data.sample(10)

,Unnamed: 0,domain,id,id_str,party,screen_name,state
28779,28779,NaN,1088659325805969408,1088659325805969408,DMK,Drmasilamani1,To Be Added
29009,29009,NaN,1701045954,1701045954,To Be Added,SanchoreCongres,To Be Added
24561,24561,NaN,726682854688587776,726682854688587776,INC,VVVVignesh1,To Be Added
21517,21517,NaN,2277826333,2277826333,To Be Added,abhishekbjpssm,To Be Added
16889,16889,1.0,893189876098650113,893189876098650112,INC,MoylaAmin,Maharashtra
2174,2174,1.0,704906391409008640,704906391409008640,BJD,manoranjanbjd,Odisha
17977,17977,NaN,737964374,737964374,INC,danyalkachi,To Be Added
10140,10140,1.0,4886202566,4886202566,INC,BirJiWard157,Delhi
4494,4494,1.0,1023868077849464833,1023868077849464832,AIADMK,KCKaruppananofl,Tamil Nadu
6233,6233,1.0,203432278,203432278,BJP,drashoksinhabjp,Tripura

In [5]:
!pip install --user config

Requirement already satisfied: config in /home/phadke/.local/lib/python3.8/site-packages (0.5.1)

In [5]:
import requests
import os
import json
import pandas as pd
import time
import glob

In [40]:
def create_url(user_id,next_token):
    # Replace with user ID below
    if next_token==None:
        return "https://api.twitter.com/2/users/{}/tweets?max_results=100&start_time=2020-05-25T17:00:00Z&end_time=2021-12-07T01:00:00Z".format(user_id)
    else:
        return "https://api.twitter.com/2/users/{}/tweets?max_results=100&start_time=2020-05-25T17:00:00Z&end_time=2021-12-07T01:00:00Z&pagination_token={}".format(user_id, next_token)
        

def get_params():
    # Tweet fields are adjustable.
    # Options include:
    # attachments, author_id, context_annotations,
    # conversation_id, created_at, entities, geo, id,
    # in_reply_to_user_id, lang, non_public_metrics, organic_metrics,
    # possibly_sensitive, promoted_metrics, public_metrics, referenced_tweets,
    # source, text, and withheld
    return {"tweet.fields": "created_at,entities,in_reply_to_user_id,lang,public_metrics,source"}


def create_headers(bearer_token):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}
    return headers


def connect_to_endpoint(url, headers, params):
    response = requests.request("GET", url, headers=headers, params=params)
    print(response.status_code)
    if response.status_code != 200:
        raise Exception(
            "Request returned an error: {} {}".format(
                response.status_code, response.text
            )
        )
    return response.json()

In [41]:
bearer_token = "AAAAAAAAAAAAAAAAAAAAAMYx2gAAAAAAg3V4j7Msz7CEf%2BSUa4HjBoK3T5E%3DLir3OoEjxr5wrKKfYCaw6EeDcHhKLXIjkrrlr5UHZnFSmoOxJY"

In [42]:
idlist = ["1346963316"]#, "2199037009"]

#unames - ["8777paresh", "bharatshigala"]

In [43]:
for cid in idlist:
    url = create_url(user_id = cid, next_token=None)
    
    fname = "./" + cid+".csv"
    
    print(url)
    headers = create_headers(bearer_token)
    params = get_params()

    json_response = connect_to_endpoint(url, headers, params)
    time.sleep(1)
    if "data" in json_response and len(json_response['data'])>0: 
        with open(fname, "w") as tfile:
            for j in json_response['data']:
                json.dump(j, tfile)
                tfile.write("\n")

            while  "meta" in json_response and "next_token" in json_response['meta']:
                url = create_url(user_id = cid, next_token=json_response['meta']['next_token'])
                json_response = connect_to_endpoint(url, headers, params)
                time.sleep(1)
                if "data" in json_response and len(json_response['data']) >0:
                    for j in json_response['data']:
                        json.dump(j, tfile)
                        tfile.write("\n")

https://api.twitter.com/2/users/1346963316/tweets?max_results=100&start_time=2020-05-25T17:00:00Z&end_time=2021-12-07T01:00:00Z
200
200
200
200
200
200
200
200
200